{{ define "header" }}
<header class="w-full h-[3rem] flex justify-center items-center bg-stone-100 border-b border-stone-600">
    <div class="max-w-[600px] md:max-w-[750px] lg:max-w-[1000px] xl:max-w-[1250px] w-full h-full px-4 md:px-0 flex justify-between items-center">
        <button aria-label="To Body" id="to_body" hx-get="/default" hx-target="body" class="font-extralight text-2xl">Vasti</button>
        <nav class="h-full flex gap-4">
            <button aria-label="To About" id="to_about" hx-get="/about" hx-target="body" class="transition-all hover:cursor-pointer border-b-4 border-transparent hover:border-stone-950">Flood Prediction System</button>
        </nav>
    </div>
</header>
{{ end }}