{{ define "mainv2" }}
<main class="w-full h-full my-2 flex-1 flex justify-center overflow-auto">
    <div class="max-w-[600px] md:max-w-[750px] lg:max-w-[1000px] xl:max-w-[1250px] w-full h-full px-4 md:px-0">
        <div x-data="{ message: true, tableView: false, tableInitialized: false, stats: 'default'}" class="relative w-full h-full">
            <div id="top" class="w-full h-full flex flex-col gap-2">
                <form class="w-full pt-2 flex justify-between">
                    <div class="flex gap-2 items-center">
                        <label for="start_date">Start Date</label>
                        <input class="p-1 bg-stone-300" type="date" id="start_date" name="start_date" min="2008-01-01" max="2024-09-30">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="end_date">End Date</label>
                        <input class="p-1 bg-stone-300" type="date" id="end_date" name="end_date" min="2008-01-01" max="2024-09-30">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="city">City</label>
                        <select class="p-1 bg-stone-300" id="city" name="city">
                            <option value="" disabled selected>Select an option</option>
                            <option value="jakarta barat">Jakarta Barat</option>
                            <option value="jakarta utara">Jakarta Utara</option>
                            <option value="jakarta timur">Jakarta Timur</option>
                            <option value="jakarta selatan">Jakarta Selatan</option>
                            <option value="jakarta pusat">Jakarta Pusat</option>
                            <option value="bogor">Bogor</option>
                            <option value="depok">Depok</option>
                            <option value="tangerang">Tangerang</option>
                            <option value="bekasi">Bekasi</option>
                          </select>
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="k_value">K Value</label>
                        <input class="p-1 bg-stone-300" type="number" id="k_value" name="k_value" min="1" max="500" step="1">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="k_value">Lag Order</label>
                        <input class="p-1 bg-stone-300" type="number" id="lag_order" name="lag_order" min="1" max="10" step="1">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="smote_k">SMOTE K Value</label>
                        <input class="p-1 bg-stone-300" type="number" id="smote_k" name="smote_k" min="1" max="10" step="1">
                    </div>
                    <button hx-post="/flood" hx-target="main" hx-swap="outerHTML" type="submit" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">Submit</button>
                </form>
                {{ if .Data }}
                <div x-data="{ showing: 'nasa' }" class="w-full flex-1 flex gap-4 overflow-auto">
                    <div x-show="showing === 'nasa'" class="w-full h-full flex flex-col gap-6">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">NASA/POWER CERES/MERRA2 Daily Data Summary</h1>
                            
                            <div x-show="!tableView" class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Location Details</h2>
                                <p><strong>Latitude:</strong> {{ .Data.Latitude }}</p>
                                <p><strong>Longitude:</strong> {{ .Data.Longitude }}</p>
                            </div>
                            
                            <div x-show="!tableView" class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Missing Data</h2>
                                <p>For data points that are unavailable or outside the source's range, the placeholder value is <strong>-999</strong>.</p>
                            </div>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                </ul>
                            </div>
                        </div>
                        <div x-show="!tableView" class="w-full h-full overflow-x-auto">
                            <table class="min-w-full h-full table-auto border-collapse">
                                <thead>
                                <tr>
                                    {{ range .Data.NasaHeaders }}
                                    <th class="border px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.NasaStats }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .DateStr }}</td>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                    </tr>
                                    {{ end }}
                                    {{ range .Data.NasaValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .DateStr }}</td>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                        <div x-show="tableView" class="w-full h-full overflow-x-auto">
                            <canvas id="nasaTable"></canvas>
                        </div>
                    </div>
                    <div x-show="showing === 'bnpb'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">BNPB Flood Occurence Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Data Composition</h2>
                                <p>Each Entry represents the occurence of flood for chosen <strong>City</strong> and <strong>Date Range</strong>.</p>
                                <p>Details for each entry is shown as is from the <strong>Original Data Source</strong>.</p>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.BnpbHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.BnpbValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .Code }}</td>
                                        <td class="border px-4 py-2">{{ .CityID }}</td>
                                        <td class="border px-4 py-2">{{ .Date }}</td>
                                        <td class="border px-4 py-2">{{ .Occurence }}</td>
                                        <td class="border px-4 py-2">{{ .Location }}</td>
                                        <td class="border px-4 py-2">{{ .City }}</td>
                                        <td class="border px-4 py-2">{{ .Province }}</td>
                                        <td class="border px-4 py-2">{{ .Cause }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'news'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">News Flood Article Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Data Composition</h2>
                                <p>Each Entry represents the occurence of flood within the chosen <strong>City</strong> and <strong>Date Range</strong>.</p>
                                <p>Details for each entry is in the linked <strong>News Page</strong>.</p>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.NewsHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.NewsValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .City }}</td>
                                        <td class="border px-4 py-2">{{ .Date }}</td>
                                        <td class="border px-4 py-2">{{ .Link }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'weatherFlood'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Weather Flood Occurence Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Occurence of Flood</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.WeatherAndFloodHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.WeatherAndFloodValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .DateStr }}</td>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                        <td class="border px-4 py-2">{{ .FloodStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'differencedWeatherFlood'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Differenced Weather Flood Occurence Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">ADF Test Critical Values</h2>
                                <p>Amount of differencing done to the dataset: <strong>{{ .Data.DifferencedWeatherAndFloodStats.Step }}</strong>.</p>
                                <ul class="list-disc list-inside">
                                {{ range .Data.DifferencedWeatherAndFloodStats.CriticalValuesGammaMap }}
                                    <li><strong>{{ .Key }}:</strong> {{ .Value }}</li>
                                {{ end }}
                                </ul>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Occurence of Flood</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.DifferencedWeatherAndFloodHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.DifferencedWeatherAndFloodValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .DateStr }}</td>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                        <td class="border px-4 py-2">{{ .FloodStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'vectorAutoregression'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Vector Autoregression Result</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Vector Autoregression Predicted Values</h2>
                                <ul class="list-disc list-inside">
                                {{ range .Data.VectorAutoregressionResult }}
                                    <li><strong>{{ .Key }}:</strong> {{ .Value }}</li>
                                {{ end }}
                                </ul>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Occurence of Flood</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.VectorAutoregressionHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.VectorAutoregressionValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .DateStr }}</td>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'knn'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">KNN Result</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">K Nearest Neighbors Values</h2>
                                <p>KNN Result on flood classification is: <strong>{{ .Data.KNNResult }}</strong>.</p>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>DISTANCE:</strong> Euclidean Distance Between Predicted Data Point and its Nearest Neigbor</li>
                                    <li><strong>FLOOD:</strong> Occurence of Flood</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.KNNHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.KNNValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                        <td class="border px-4 py-2">{{ .DistanceStr }}</td>
                                        <td class="border px-4 py-2">{{ .FloodStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'knnEval'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">KNN Evaluation</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Fields</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>True Positive (TP):</strong> Cases where the model correctly predicted the positive class</li>
                                    <li><strong>False Positive (FP):</strong> Cases where the model incorrectly predicts the positive class, when the actual class is negative</li>
                                    <li><strong>True Negative (TN):</strong> Cases where the model correctly predicts the negative class</li>
                                    <li><strong>False Negative (FN):</strong> Cases where the model incorrectly predicts the negative class when the actual class is positive</li>
                                    <li><strong>Accuracy:</strong> Best when classes are balanced, but it can be misleading for imbalanced Datasets.</li>
                                    <li><strong>Precision:</strong> Important when cost for false positives is high.</li>
                                    <li><strong>Recall:</strong> Important when cost for false negatives is high.</li>
                                    <li><strong>F1-Score:</strong> Balanced measure between precision and recall</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.KNNEvalHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.KNNEvalValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .TrainTestStr }}</td>
                                        <td class="border px-4 py-2">{{ .TruePositiveStr }}</td>
                                        <td class="border px-4 py-2">{{ .FalsePositiveStr }}</td>
                                        <td class="border px-4 py-2">{{ .TrueNegativeStr }}</td>
                                        <td class="border px-4 py-2">{{ .FalseNegativeStr }}</td>
                                        <td class="border px-4 py-2">{{ .AccuracyStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecisionStr }}</td>
                                        <td class="border px-4 py-2">{{ .RecallStr }}</td>
                                        <td class="border px-4 py-2">{{ .F1ScoreStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'smote'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">SMOTE Oversampled Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Occurence of Flood</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.SMOTEHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.SMOTEValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .DateStr }}</td>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                        <td class="border px-4 py-2">{{ .FloodStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'smoteKnn'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">KNN Result With SMOTE</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">K Nearest Neighbors Values</h2>
                                <p>KNN Result on flood classification is: <strong>{{ .Data.SMOTEKNNResult }}</strong>.</p>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>DISTANCE:</strong> Euclidean Distance Between Predicted Data Point and its Nearest Neigbor</li>
                                    <li><strong>FLOOD:</strong> Occurence of Flood</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.SMOTEKNNHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.SMOTEKNNValues }}
                                    <tr>
                                        <td class="border px-4 py-2">{{ .WindSpeedStr }}</td>
                                        <td class="border px-4 py-2">{{ .RelHumidityStr }}</td>
                                        <td class="border px-4 py-2">{{ .PrecipitationStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempAverageStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMaxStr }}</td>
                                        <td class="border px-4 py-2">{{ .TempMinStr }}</td>
                                        <td class="border px-4 py-2">{{ .DistanceStr }}</td>
                                        <td class="border px-4 py-2">{{ .FloodStr }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="w-1/4 h-full flex flex-col gap-4 justify-between">
                        <div class="w-full h-3/4 overflow-y-auto flex flex-col gap-2">
                            <button @click="showing = 'nasa'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">NASA DATA</button>
                            <button @click="showing = 'bnpb'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">BNPB DATA</button>
                            <button @click="showing = 'news'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">NEWS FLOOD DATA</button>
                            <button @click="showing = 'weatherFlood'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">WEATHER FLOOD DATA</button>
                            <button @click="showing = 'differencedWeatherFlood'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">STATIONARY WEATHER FLOOD DATA</button>
                            <button @click="showing = 'vectorAutoregression'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">VECTOR AUTOREGRESSION</button>
                            <button @click="showing = 'knn'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">KNN</button>
                            <button @click="showing = 'knnEval'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">KNN EVALUATION</button>
                            <button @click="showing = 'smote'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">SMOTE DATA</button>
                            <button @click="showing = 'smoteKnn'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">SMOTE KNN</button>
                        </div>
                        <button x-show="tableView == false" @click="tableView = true; if (!tableInitialized) { injectData(); tableInitialized = true; }" class="w-full p-2 rounded-lg border-2 bg-emerald-200 hover:brightness-75 active:brightness-50">ENABLE TABLE VIEW</button>
                        <button x-show="tableView == true" @click="tableView = false" class="w-full p-2 rounded-lg border-2 bg-rose-200 hover:brightness-75 active:brightness-50">DISABLE TABLE VIEW</button>
                        <div x-show="showing == 'nasa'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.Statistics.NasaMap }}
                            <div>
                                {{ .Key }}: {{ .Value }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="showing == 'bnpb'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.Statistics.BnpbMap }}
                            <div>
                                {{ .Key }}: {{ .Value }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="showing == 'news'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.Statistics.NewsMap }}
                            <div>
                                {{ .Key }}: {{ .Value }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="showing == 'weatherFlood'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.Statistics.WeathersMap }}
                            <div>
                                {{ .Key }}: {{ .Value }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="showing == 'differencedWeatherFlood'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.Statistics.DifferencedWeathersMap }}
                            <div>
                                {{ .Key }}: {{ .Value }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="showing == 'smote'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.Statistics.SmoteMap }}
                            <div>
                                {{ .Key }}: {{ .Value }}
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="absolute bottom-0 w-full p-2 {{ if .Err }} bg-rose-200 animate-fadeToTransparentA {{ else if .Message }} bg-emerald-200 animate-fadeToTransparentB {{ else }} bg-transparent text-transparent select-none {{ end }}">
                {{ if .Err }}
                Error Occured : {{ .Err }}
                {{ else if .Message }}
                Processing Done : {{ .Message }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="hidden text-blue-800 text-rose-700 text-emerald-700">

    </div>
    <script src="/static/js/data.js?v={{ .Timestamp }}"></script>
    {{ if .JSData }}
    <script>
        function injectData() {
            const data = JSON.parse(`{{ .JSData }}`)
            initializeChart(data)
        }
    </script>
    {{ end }}
</main>
{{ end }}