{{ define "main" }}
<main class="w-full h-full my-2 flex-1 flex justify-center overflow-auto">
    <div class="max-w-[600px] md:max-w-[750px] lg:max-w-[1000px] xl:max-w-[1250px] w-full h-full px-4 md:px-0">
        <div x-data="{ message: true, tableView: false, tableInitialized: false, stats: 'default'}" class="relative w-full h-full">
            <div id="top" class="w-full h-full flex flex-col gap-2">
                <form class="w-full pt-2 flex justify-between">
                    <div class="flex gap-2 items-center">
                        <label for="start_date">Start Date</label>
                        <input class="p-1 bg-stone-300" type="date" id="start_date" name="start_date" min="2008-01-01" max="2024-09-30">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="end_date">End Date</label>
                        <input class="p-1 bg-stone-300" type="date" id="end_date" name="end_date" min="2008-01-01" max="2024-09-30">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="city">City</label>
                        <select class="p-1 bg-stone-300" id="city" name="city">
                            <option value="" disabled selected>Select an option</option>
                            <option value="jakarta barat">Jakarta Barat</option>
                            <option value="jakarta utara">Jakarta Utara</option>
                            <option value="jakarta timur">Jakarta Timur</option>
                            <option value="jakarta selatan">Jakarta Selatan</option>
                            <option value="jakarta pusat">Jakarta Pusat</option>
                            <option value="bogor">Bogor</option>
                            <option value="depok">Depok</option>
                            <option value="tangerang">Tangerang</option>
                            <option value="bekasi">Bekasi</option>
                          </select>
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="k_value">K Value</label>
                        <input class="p-1 bg-stone-300" type="number" id="k_value" name="k_value" min="1" max="500" step="1">
                    </div>
                    <div class="flex gap-2 items-center">
                        <label for="smote_k">SMOTE K Value</label>
                        <input class="p-1 bg-stone-300" type="number" id="smote_k" name="smote_k" min="1" max="10" step="1">
                    </div>
                    <button hx-post="/flood" hx-target="main" hx-swap="outerHTML" type="submit" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">Submit</button>
                </form>
                {{ if .Data }}
                <div x-data="{ showing: 'nasa' }" class="w-full flex-1 flex gap-4 overflow-auto">
                    <div x-show="showing === 'nasa'" class="w-full h-full flex flex-col gap-6">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">NASA/POWER CERES/MERRA2 Daily Data Summary</h1>
                            
                            <div x-show="!tableView" class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Date Range</h2>
                                <p>Data available from <strong>{{ .Data.StartDate }}</strong> through <strong>{{ .Data.EndDate }}</strong>.</p>
                            </div>
                            
                            <div x-show="!tableView" class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Location Details</h2>
                                <p><strong>Latitude:</strong> {{ .Data.Latitude }}</p>
                                <p><strong>Longitude:</strong> {{ .Data.Longitude }}</p>
                            </div>
                            
                            <div x-show="!tableView" class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Missing Data</h2>
                                <p>For data points that are unavailable or outside the source's range, the placeholder value is <strong>-999</strong>.</p>
                            </div>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                </ul>
                            </div>
                        </div>
                        <div x-show="!tableView" class="w-full h-full overflow-x-auto">
                            <table class="min-w-full h-full table-auto border-collapse">
                                <thead>
                                <tr>
                                    {{ range .Data.NasaHeaders }}
                                    <th class="border px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.NasaStat }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end }}
                                    </tr>
                                    {{ end }}
                                    {{ range .Data.NasaValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                        <div x-show="tableView" class="w-full h-full overflow-x-auto">
                            <canvas id="nasaTable"></canvas>
                        </div>
                    </div>
                    <div x-show="showing === 'bnpb'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">BNPB Flood Occurence Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Data Composition</h2>
                                <p>Each Entry represents the occurence of flood for chosen <strong>City</strong> and <strong>Date Range</strong>.</p>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.BnpbHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.BnpbValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'bnpbOri'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">BNPB Flood Recordings Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Data Composition</h2>
                                <p>Each Entry represents the occurence of flood within the chosen <strong>City</strong> and <strong>Date Range</strong>.</p>
                                <p>Details for each entry is shown as is from the <strong>Original Data Source</strong>.</p>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.BnpbHeadersOri }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.BnpbValuesOri }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'newsFlood'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">News Flood Article Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Data Composition</h2>
                                <p>Each Entry represents the occurence of flood within the chosen <strong>City</strong> and <strong>Date Range</strong>.</p>
                                <p>Details for each entry is in the linked <strong>News Page</strong>.</p>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.NewsHeadersOri }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.NewsValuesOri }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'nasaFlood'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Paired NASA Weather Parameter Data and BNPB Flood Recordings Data</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Flood Occurence at Date</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.NasaFloodHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.NasaFloodValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'stationary'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Stationary Weather Parameter Data Paired with Flood</h1>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Max Differencing Step</h2>
                                <p>Differencing applied to each parameter is based on the highest differencing steps required between the parameters: <strong>{{ .Data.DifferencingStep }}</strong>.</p>
                            </div>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Flood Occurence at Date</li>
                                </ul>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">ADF Critical Values</h2>
                                <ul class="list-disc list-inside">
                                    {{ range .Data.ADFWithParam }}
                                    <li><strong>{{ .Name }}:</strong> {{ .CriticalValue }} > {{ .ADFScore }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.StationaryDataHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.StationaryDataValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'smote'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Stationary Weather Parameter Data Paired with Flood with SMOTE</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">SMOTE Implementation</h2>
                                <p>Minority Class is sampled, nearest neighbors to minority class are <strong>replaced</strong> with <strong>interpolated</strong> value between the original and the minority class.</p>
                            </div>
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                    <li><strong>FLOOD:</strong> Flood Occurence at Date</li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.SmoteDataHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.SmoteDataValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'evaluationResult'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">Normalized RMSE Evaluation for VAR Prediction</h1>
                            
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Parameters</h2>
                                <ul class="list-disc list-inside">
                                    <li><strong>RH2M:</strong> Relative Humidity at 2 Meters (%)</li>
                                    <li><strong>T2M:</strong> Temperature at 2 Meters (°C)</li>
                                    <li><strong>WS10M:</strong> Wind Speed at 10 Meters (m/s)</li>
                                    <li><strong>PRECTOTCORR:</strong> Corrected Precipitation (mm/day)</li>
                                    <li><strong>T2M_MAX:</strong> Maximum Temperature at 2 Meters (°C)</li>
                                    <li><strong>T2M_MIN:</strong> Minimum Temperature at 2 Meters (°C)</li>
                                </ul>
                            </div>
                        </div>
                        <div x-show="!tableView" class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.NRMSEEvaluationHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.NRMSEEvaluationValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end}}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                        <div x-show="tableView" class="w-full h-full overflow-x-auto">
                            <canvas id="nrmseTable"></canvas>
                        </div>
                    </div>
                    <div x-show="showing === 'result'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">KNN Result based on Differenced Data</h1>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">KNN Classifcation Result</h2>
                                <p>According to the nearest neighbors of the predicted data point, It is deemed to be: <strong>{{ .Data.KNNResult }}</strong>.</p>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Predicted Values</h2>
                                <ul class="list-disc list-inside">
                                    {{ range $index, $header := .Data.PredictedHeaders }}
                                    <li><strong>{{ $header }}:</strong> {{ index $.Data.PredictedValues $index }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        <div x-show="!tableView" class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.KNNDataHeaders }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.KNNDataValues }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end }}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div x-show="showing === 'resultSmoteReplace'" class="w-full h-full flex flex-col gap-6 overflow-auto">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-2xl font-bold">KNN Result based on Differenced Data</h1>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Max Differencing Step</h2>
                                <p>Differencing applied to each parameter is based on the highest differencing steps required between the parameters: <strong>{{ .Data.DifferencingStep }}</strong>.</p>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">KNN Classifcation Result</h2>
                                <p>According to the nearest neighbors of the predicted data point, It is deemed to be: <strong>{{ .Data.KNNResultSmoteReplace }}</strong>.</p>
                            </div>

                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-semibold">Predicted Values</h2>
                                <ul class="list-disc list-inside">
                                    {{ range $index, $header := .Data.PredictedHeaders }}
                                    <li><strong>{{ $header }}:</strong> {{ index $.Data.PredictedValues $index }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        <div x-show="!tableView" class="w-full h-full overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-gray-200">
                                <tr>
                                    {{ range .Data.KNNDataHeadersSmoteReplace }}
                                    <th class="px-4 py-2 sticky top-0 bg-stone-300">{{ . }}</th>
                                    {{ end }}
                                </tr>
                                </thead>
                                <tbody>
                                    {{ range .Data.KNNDataValuesSmoteReplace }}
                                    <tr>
                                        {{ range . }}
                                        <td class="border px-4 py-2">{{ . }}</td>
                                        {{ end }}
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="w-1/4 h-full flex flex-col gap-4 justify-between">
                        <div class="w-full h-3/4 overflow-y-auto flex flex-col gap-2">
                            <button @click="showing = 'nasa'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">NASA DATA</button>
                            <button @click="showing = 'bnpb'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">BNPB DATA</button>
                            <button @click="showing = 'bnpbOri'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">ORIGINAL BNPB DATA</button>
                            <button @click="showing = 'newsFlood'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">NEWS FLOOD DATA</button>
                            <button @click="showing = 'nasaFlood'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">NASA DATA WITH FLOOD</button>
                            <button @click="showing = 'stationary'; stats = 'stationary'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">STATIONARY DATA</button>
                            <button @click="showing = 'smote'; stats = 'stationarySmote'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">STATIONARY DATA WITH SMOTE</button>
                            <button @click="showing = 'evaluationResult'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">NRMSE EVALUATION</button>
                            <button @click="showing = 'result'; stats = 'default'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">KNN RESULT</button>
                            <button @click="showing = 'resultSmoteReplace'; stats = 'stationarySmote'" class="p-2 rounded-lg border-2 hover:brightness-75 active:brightness-50">KNN RESULT WITH SMOTE</button>
                        </div>
                        <button x-show="tableView == false" @click="tableView = true; if (!tableInitialized) { injectData(); tableInitialized = true; }" class="w-full p-2 rounded-lg border-2 bg-emerald-200 hover:brightness-75 active:brightness-50">ENABLE TABLE VIEW</button>
                        <button x-show="tableView == true" @click="tableView = false" class="w-full p-2 rounded-lg border-2 bg-rose-200 hover:brightness-75 active:brightness-50">DISABLE TABLE VIEW</button>
                        <div x-show="stats == 'default'" class="w-full h-1/4 p-2 border-2 rounded-md">
                            {{ range .Data.StatisticData }}
                            <div>
                                {{ range $key, $value := . }}
                                {{ $key }}: {{ $value}}
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="stats == 'stationary'" class="w-full p-2 border-2 rounded-md">
                            {{ range .Data.StationaryStatisticData }}
                            <div>
                                {{ range $key, $value := . }}
                                {{ $key }}: {{ $value}}
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        <div x-show="stats == 'stationarySmote'" class="w-full p-2 border-2 rounded-md">
                            {{ range .Data.SmoteStatisticData }}
                            <div>
                                {{ range $key, $value := . }}
                                {{ $key }}: {{ $value}}
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="absolute bottom-0 w-full p-2 {{ if .Err }} bg-rose-200 animate-fadeToTransparentA {{ else if .Message }} bg-emerald-200 animate-fadeToTransparentB {{ else }} bg-transparent text-transparent select-none {{ end }}">
                {{ if .Err }}
                Error Occured : {{ .Err }}
                {{ else if .Message }}
                Processing Done : {{ .Message }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="hidden text-blue-800">

    </div>
    <script src="/static/js/data.js?v={{ .Timestamp }}"></script>
    <script>
        function injectData() {
            const data = JSON.parse(`{{ .JSData }}`)
            initializeChart(data)
        }
    </script>
</main>
{{ end }}